{% comment %} 'Why Buy Vidlogix' popup - am {% endcomment %}
<div id="map-popup" class="why-modal">
  <div class="modal-content">
    <div class="why-buy-popup" style="color:black;">
      <div id="why-outer-modal" class="modal modal--square modal--mobile-friendly">
        <div id="why-modal-inner" class="modal__inner">
          <div class="modal__centered medium-up--text-center">
            <span class="close-why-popup">&times;</span>
            <div class="modal__centered-content">
              <div class="newsletter">
                <div class="text-center page-width page-width--narrow">
                  <div class="theme-block why-rich-text">
                    <h2 class="section-header__title">UPS Time In Transit Map</h2>
                  </div>
                </div>
                <img  src="//cdn.shopify.com/s/files/1/0056/9632/3651/files/Shipping-Map-2.jpg?v=1649185620" 
                  data-widths="[360, 540, 720, 900, 1080]"
                  data-sizes="auto"
                  alt="UPS Transit Map" title="UPS Transit Map">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>