{% comment %} media drawer with iframe - am {% endcomment %}

<div id="why-outer-modal" class="media-drwr-container">
  <div id="media-drwr-overlay" style="background-color: rgba(0, 0, 0, 0.507);"></div>
  <div id="media-drawer" class="drawer drawer--right ">
    <div id="why-modal-inner">
      <span class="close-why-popup">&times;</span>
      <div class="media-drwr-inner">
        <iframe id="media-iframe"></iframe>
      </div>
    </div>
  </div>
</div>
  
{% style %}
  #media-btn {
    cursor:pointer;
  }
  #media-drwr-overlay {
    height: 100%;
    width: 100%;
    display: none;
      background-color: rgba(0,0,0,.4);
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1000;
  }
  #media-drawer {
    display: none;
    z-index: 10000000000;
  }
  .media-drwr-container .drawer--right {
    width: 997px;
  }
  @media screen and (max-width: 997px) {
    .media-drwr-container .drawer--right {
      width: 100vw;
    }
  }

  .media-drwr-inner {
    padding: .25rem 0.625rem 0 2.5rem;
    height: calc(100vh - 5.3125rem);
  }
  @media screen and (max-width: 997px) {
    .media-drwr-inner {
      padding: .25rem 0.625rem 0 .5rem;
    }
  }

  #media-iframe {
    width: 100%;
    border: none;
    height: 100%;
    overflow-y: scroll!important; 
  }

  #media-btn-desktop {
    cursor: pointer;
  }

  .media-drwr-inner {
    overflow: auto !important; 
    overflow-y: scroll!important; 
  }
{% endstyle %}
