<div id="why-buy-section" class="page-width" style="display:flex !important;">
  <div class="why-buy-section" style="color:black;">
    <div class="why-buy__inner">
      <div class="medium-up--text-center">
        {% render 'why-buy-popup-snippet' %}
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Why Buy Vidlogix",
    "settings": [],
    "presets": [
      {
        "name": "Why Buy Vidlogix"
      }
    ]
  }
{% endschema %}
